@{
    ViewBag.Title = "Registro_User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registro_User</h2>
<div class="container">

    <div class="row">

        <div class="col-xs-12"><h1>IMAPDB</h1></div>

    </div>

    <div class="row">

        <div class="col-xs-12">
            <h2>Registro de usuario</h2>


            <form class="form-registro">
                <div class="form-group">
                    <input type="text" class="form-control" id="ru-nombre" required placeholder="Nombres">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="ru-apellido" required placeholder="Apellidos">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="ru-direccion" required placeholder="Dirección">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="ru-genero" required placeholder="Genero">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="ru-edad" required placeholder="Edad">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="ru-telefono" required placeholder="Teléfono">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="ru-email" required placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="ru-password" required placeholder="Password">
                </div>
                <div class="clearfix">

                    <button type="submit" class="btn btn-primary pull-right">Ingresar</button>
                </div>
            </form>


        </div>


    </div>

</div>