@{
    ViewBag.Title = "Index_User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>

    <div class="container">


        <div class="row">

            <div class="col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0">
                <h2>Paquetes recomendados</h2>
                <!-- On rows -->
                <div class="table-responsive">
                    <table class="table table-condensed table-hover">

                        <!--<tr>
                        <td class="active">Cotizaciones</td>
                        <td class="success">Origen</td>
                        <td class="warning">Destino</td>
                        <td class="danger">estatus</td>
                        </tr>-->
                        <tr>
                            <td>Empresa</td>
                            <td>Origen</td>
                            <td>Fecha Salida</td>
                            <td>Destino</td>
                            <td>Fecha Llegada</td>
                            <td>Costo</td>
                            <td>Moneda</td>
                            <td>Fecha Vencimiento</td>
                            <td>Acción</td>
                        </tr>
                        <tr>
                            <td>Viajar S.A.</td>
                            <td>Lima</td>
                            <td>21/05/2017</td>
                            <td>Trujillo</td>
                            <td>21/05/2017</td>
                            <td>155</td>
                            <td>Pen</td>
                            <td>21/05/2017</td>
                            <td>Acción</td>
                            <td> @Html.ActionLink("Ver", "Ver_Paquete", "Home", null, new { @class = "btn btn-info" })
                            <td>
                        </tr>

                    </table>
                </div>
            </div>

        </div>

    </div>

</div>