
@model IEnumerable<IMAPBD.Models.CiudadDiaModels>
@{
    ViewBag.Title = "Lugares";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<h2>Busqueda de Ciudades</h2>
<div>

    <div class="container">


        <div class="row">

            <div class="col-md-8 col-md-offset-2 col-xs-12 col-xs-offset-0">
                <h2>Resultados</h2>
                <!-- On rows -->
                <div class="table-responsive">
                    <table class="table table-condensed table-hover">

                        <tr>
                            <td>Ciudad</td>
                            <td>Dia</td>
                            <td>Calificacion</td>
                            
                          
                        </tr>
                        @foreach (var ciudad in Model)
                        {
                           
                            <tr>
                                <td>@Html.TextBoxFor(m => ciudad.lugar, new { @readonly = true, @style = "border:none;background-color: transparent;" })</td>
                                <td>@Html.TextBoxFor(m => ciudad.dia, new { @readonly = true, @style="border:none;background-color: transparent;"})</td>
                                <td>@Html.TextBoxFor(m => ciudad.bueno, new { @readonly = true, @style="border:none;background-color: transparent;"})</td>
                                
                            </tr>
                        }
                        

                    </table>
                </div>
            </div>

        </div>


    </div>

</div>