@{
    ViewBag.Title = "Paises";
}
@model  IEnumerable<IMAPBD.Models.LugarCalModel>
@{
    ViewBag.Title = "Lugares";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Busqueda de Paises</h2>
<div>

    <div class="container">


        <div class="row">

            <div class="col-md-8 col-md-offset-2 col-xs-12 col-xs-offset-0">
                <h2>Resultados</h2>
                <!-- On rows -->
                <div class="table-responsive">
                    <table class="table table-condensed table-hover">

                        <tr>
                            <td>Ciudad</td>
                            <td>Dia</td>
                            <td>Calificacion</td>
                            <td>Año</td>


                        </tr>
                        @foreach (var pais in Model)
                        {
                            
                            <tr>
                                <td>@Html.TextBoxFor(m => pais.pais)</td>
                                <td>@Html.TextBoxFor(m => pais.lugar)</td>
                                <td>@Html.TextBoxFor(m => pais.bueno)</td>>
                                <td>@Html.TextBoxFor(m => pais.Año)</td>>

                            </tr>
                        }


                    </table>
                </div>
            </div>

        </div>


    </div>

</div>