@{
    ViewBag.Title = "Ver_Paquete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>

    <div class="container">


        <div class="row">
            <div class="clearfix">
                <a href="mailto:contacto@imapdb.com" class="btn btn-success pull-right">Solicitar</a>
            </div>
        </div>


        <div class="row">

            <div class="col-md-5 col-xs-12 detalle">

                <h2>Detalle de paquete</h2>

                <div class="item">
                    <div>Información general</div>
                    <p>Paquete de viajes</p>
                </div>

                <div class="item">
                    <div>Tipo de paquete</div>
                    <p>Viaje</p>
                </div>

                <div class="row">

                    <div class="col-xs-6">
                        <div class="item">
                            <div>Origen</div>
                            <p>Lima</p>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="item">
                            <div>Destino</div>
                            <p>Argentina</p>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-xs-6">
                        <div class="item">
                            <div>Fecha de salida</div>
                            <p>21/05/2017</p>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="item">
                            <div>Fecha de llegada</div>
                            <p>21/05/2017</p>
                        </div>
                    </div>

                </div>


                <div class="row">

                    <div class="col-xs-6">
                        <div class="item">
                            <div>Fecha de vencimiento</div>
                            <p>21/05/2017</p>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="item">
                            <div>Costo</div>
                            <p>155 PEN</p>
                        </div>
                    </div>

                </div>

            </div>

            <div class="col-md-7 col-xs-12">
                <h2>Actividades</h2>
                <div class="table-responsive">
                    <table class="table table-condensed table-hover">

                        <!--<tr>
                        <td class="active">Cotizaciones</td>
                        <td class="success">Origen</td>
                        <td class="warning">Destino</td>
                        <td class="danger">estatus</td>
                        </tr>-->
                        <thead>
                            <tr>
                                <td>Tipo</td>
                                <td>Origen</td>
                                <td>Destino</td>
                                <td>Fecha salida</td>
                                <td>Fecha llegada</td>
                                <td>Costo</td>
                                <td>Moneda</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Viaje</td>
                                <td>Lima</td>
                                <td>Trujillo</td>
                                <td>21/05/2017</td>
                                <td>21/05/2017</td>
                                <td>155</td>
                                <td>PEN</td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
                <!--
                <div class="detalle">
                    <h3>Calificación de paquete</h3>
                    <div class="item">
                        <i class="fa fa-star" aria-hidden="false"></i>
                        <i class="fa fa-star" aria-hidden="false"></i>
                        <i class="fa fa-star" aria-hidden="false"></i>
                        <i class="fa fa-star" aria-hidden="false"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                </div>
                    -->
            </div>

        </div>

    </div>

</div>
